 body {
    background-color: #050520;
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.container {
    z-index: 2;
    text-align: center;
    padding: 25px;
    background: rgba(5, 5, 30, 0.95);
    border: 2px solid #FF00FF;
    box-shadow: 0 0 15px #FF00FF;
    width: 90%;
    max-width: 450px;
    position: relative;
}

.system-title {
    font-size: 0.7rem;
    letter-spacing: 3px;
    color: #FF00FF;
    margin: 0;
}

#timer {
    font-size: 2.8rem;
    color: #FF3333;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 2px 2px 0 #000;
}

.progress-bar {
    width: 100%;
    height: 4px;
    background: #111;
    margin-bottom: 20px;
}

#progress-fill {
    height: 100%;
    background: #00FF00;
    width: 0%;
    transition: 1s linear;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    background: #000;
    color: #00FF00;
    border: 1px solid #FF00FF;
    padding: 10px;
    font-family: 'Courier New', monospace;
    margin-bottom: 10px;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    border: none;
    margin-bottom: 5px;
    transition: 0.2s;
}

.btn-send { background: #FF00FF; color: white; }
.btn-send:hover { background: #d400d4; }

.btn-voice { background: #FFD700; color: black; font-size: 0.8rem; }

#status {
    font-size: 0.7rem;
    color: #00FFFF;
    margin-top: 10px;
}

.developer-info {
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px double #444;
    font-size: 0.65rem;
    color: #666;
    letter-spacing: 1px;
    line-height: 1.5;
}

.developer-info span {
    color: #FFD700; /* Золотистый цвет для имени и номера */
    font-weight: bold;
}